<ion-view title="Mis Capturas" class="background-image3" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios7-plus-empty" ng-click="newCatch()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

	<div class="list" style="opacity: 1;margin:5px">
		<a class="item item-thumbnail-left" ng-repeat="catch in catches" href="#/app/catch/{{catch._id}}">
			<img ng-if="catch.images.main" src="{{catch.images.main}}">
      <img ng-if="!catch.images.main" src="img/noImage.png">
      <i ng-if="catch.released" class="item-note icon icon-pisces7 energized" style="font-size: 25px"></i>
      <h2>{{catch.fishName}} {{catch.weight}}lbs - {{catch.length}}cms</h2>
      <p>
        {{catch.placeName}}
        <br />
        {{catch.date | date:'MMM d, y'}}
      </p>
      <span ng-if="catch.tags" ng-repeat="tag in catch.tags" class="energized">{{tag.name}} /&nbsp;</span>
		</a>
	</div>
  </ion-content>
</ion-view>
