<ion-view title="{{catchDetail.fishName}} {{catchDetail.weight}}lbs - {{catchDetail.length}}cms">
	<ion-content class="has-header" >
		<div class="list">
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Pez</p></b></span>
		    <span class="input-label">{{catchDetail.fishName}}</span>
		    <i class="icon icon-baby69"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Peso</p></b></span>
		    <span class="input-label">{{catchDetail.weight}}</span>
		     <i class="icon ion-ios7-speedometer-outline"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Tamaño</p></b></span>
		    <span class="input-label">{{catchDetail.length}}</span>
		    <i class="icon ion-arrow-resize"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Lugar</p></b></span>
		    <span class="input-label">{{catchDetail.placeName}}</span>
		    <i class="icon ion-ios7-location-outline"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Fecha y Hora</p></b></span>
		    <span class="input-label">{{catchDetail.date | date:'MMM d, y h:mma'}}</span>
		     <i class="icon ion-ios7-clock-outline"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Comentarios</p></b></span>
		    <span class="input-label">{{catchDetail.message}}</span>
		    <i class="icon ion-ios7-chatboxes-outline"></i>
		  </label>
		  <label class="item item-icon-right item-stacked-label">
		    <span><b><p>Etiquetas</p></b></span>
		    <i class="icon ion-ios7-star-outline"></i>
	    	<span ng-if="catchDetail.tags" ng-repeat="tag in catchDetail.tags" class="energized">{{tag.name}} /&nbsp;</span>
		  </label>
		</div>
	</ion-content>
</ion-view>
