<div class="modal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewCatch()">Cancelar</button>
    </div>
    <h1 class="title">Nueva Captura</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="addFeed()">Enviar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addCatch()">
      <div class="list">
        <br>
        <center>
          <img src="{{urlPhoto1}}" ng-click="getPhoto('photo1')" style="max-width: 45%;">
          <img src="{{urlPhoto2}}" ng-click="getPhoto('photo2')" style="max-width: 45%;">
        </center>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre del Pez</span>
          <input type="text" placeholder="Mojarra" ng-model="catchData.fishName" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Peso (lbs)</span>
          <input type="number" placeholder="5" ng-model="catchData.weight">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tamaño (cms)</span>
          <input type="number" placeholder="40" ng-model="catchData.length">
        </label>
        <label class="item item-input item-select" s>
          <div class="input-label">
            Señuelo
          </div>
          <select>
            <option>Cuchara</option>
            <option>Spinner</option>
            <option>Crank bait</option>
            <option>Blando</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fecha</span>
          <input type="date" ng-model="catchData.date">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre del Lugar</span>
          <input type="text" placeholder="Estacion" ng-model="catchData.placeName">
        </label>
        <label class="item item-input item-select" s>
          <div class="input-label">
            Sigue nadando ?
          </div>
          <select>
            <option selected>Si</option>
            <option>No</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Notas</span>
          <input type="text" ng-model="catchData.message">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Coordenadas del Lugar</span>
          <span class="item" ng-if="catchData.placeLatitude" style="border:none;font-size:11px;padding:5px 2px">Latitud: {{catchData.placeLatitude}} <br> Longitud: {{catchData.placeLongitude}}</span>
        </label>
        <a class="item positive" ng-click ="getMyPosition()" style="border:none;font-size:14px;padding-top:0px;margin-top:0px">
          <i class="icon ion-navigate " ></i>
          Obtener ubicacion
        </a>
      </div>
    </form>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</div>

