<ion-view title="Actividad">
	<ion-content class="has-header" >
	<div class="list card">
		<div class="item item-avatar">
		    <img ng-if="feed.from.facebookid" ng-src="https://graph.facebook.com/{{feed.from.facebookid}}/picture">
		    <h2>{{feed.from.name}}</h2>
		    <p>{{feed.created_time | date:'MMM d, y h:mma'}}</p>
	  	</div>
		<div class="item item-body">
		    <p>{{feed.message}}</p>
		    <img ng-if="item.picture" ng-src="{{ feed.picture }}"/>
		    <p>
		      <i class="subdued">({{feed.likes || 0}}) Likes</i>
		      <i class="subdued">({{feed.comments || 0}}) Comentarios</i>
		    </p>
		    <p ng-if="feed.like">
		    	<i class="subdued">A</i>
		    	<i ng-repeat="likeItem in feed.like" class=""><b>{{likeItem.from.name}}</b>, </i>
		    	<i ng-if="feed.like.length == 1" class="subdued">Le gusta esto.</i>
		    	<i ng-if="feed.like.length > 1" class="subdued">Les gusta esto.</i>
			</p>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
		    <a ng-class="{'tab-item': true,'positive': feed.likedByUser}" ng-click="addOrRemoveLike(feed._id)">
		      <i class="icon ion-thumbsup"></i>
		      	Like
		    </a>
		    <a class="tab-item">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		</div>
		<div class="list">
		    <div class="item item-avatar" ng-repeat="comment in feed.comment">
		      <img ng-src="https://graph.facebook.com/{{comment.from.facebookid}}/picture">
		      <h2>{{comment.from.name}}</h2>
		      <p>{{comment.message}}</p>
		    </div>
		</div>
	</div>

	<form role="form" ng-submit="addComment()">

	  	<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-chatbox placeholder-icon"></i>
		    <input type="text" ng-model="newComment.message" name="message" placeholder="Write a comment ..." required>
		  </label>
		</div>

	</form>
	

  </ion-content>
</ion-view>