<ion-view title="PescadoresColombia" class="background-image2" hide-back-button="true" hide-nav-bar="true">

    <ion-content has-header="true">
        <br />
        <div class="list list-inset" style="background:none">
            <center>
                <div style="border:none;margin-top:0px;">
                    <img src="img/Logo_PescadoresColombia.png"/>
                </div>
            </center>
            <br />
        </div>
    </ion-content>
    <div class="bar bar-footer" style="background:none;padding-top:0px;padding-bottom:0px;margin-bottom:10px">
        <div class="button-bar">
            <a class="button button-block button-light item item-icon-left" style="padding-top:5px;padding-bottom:0px;margin-top:0px;margin-bottom:0px;margin-right:5px;font-size:14px;color: #000" ng-click="doLogin()">
                <i class="icon ion-social-facebook positive "></i>
                &nbsp;&nbsp;Ingresar&nbsp;&nbsp;
            </a>
            <a class="button button-block button-light item item-icon-left" style="padding-top:5px;padding-bottom:0px;margin-top:0px;margin-bottom:0px;margin-left:5px;font-size:14px;color: #000" ng-click="doRegister()">
                 <i class="icon ion-person-add assertive"></i>
                &nbsp;&nbsp;Registrarse
            </a>
        </div>
    </div>
</ion-view>