<ion-view title="PescadoresColombia" class="background-image" hide-back-button="true" hide-nav-bar="true">

    <ion-content has-header="true">
        <br />
        <div class="list list-inset" style="background:none">
            <center>
                <div class="" style="border:none;margin-top:10px;">
                    <img src="img/Logo_PescadoresColombia.png"/>
                </div>
            </center>
            <br />
        </div>
        <div class="list list-inset" style="background:none">
            <center>
                <button class="button button-block button-light"  ng-click="doLogin()">
                    <i class="icon ion-social-facebook positive "></i>
                    &nbsp;Ingresar con Facebook
                </button>
            </center>
            <div class="item item-toggle" style="background:none;border:none;margin-left:35px;margin-right:35px">
                Recordarme:
                <label class="toggle toggle-positive">
                   <input type="checkbox" checked="true">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                </label>
            </div>
        </div>
    </ion-content>

</ion-view>