@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2pj0o2');
	src:url('fonts/icomoon.eot?#iefix-2pj0o2') format('embedded-opentype'),
		url('fonts/icomoon.woff?-2pj0o2') format('woff'),
		url('fonts/icomoon.ttf?-2pj0o2') format('truetype'),
		url('fonts/icomoon.svg?-2pj0o2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-baby69:before {
	content: "\e600";
}
.icon-fish1:before {
	content: "\e601";
}
.icon-fish4:before {
	content: "\e602";
}
.icon-fish46:before {
	content: "\e603";
}
.icon-fish51:before {
	content: "\e604";
}
.icon-fisher:before {
	content: "\e605";
}
.icon-fisher1:before {
	content: "\e606";
}
.icon-fishing:before {
	content: "\e607";
}
.icon-fishing1:before {
	content: "\e608";
}
.icon-fishing2:before {
	content: "\e609";
}
.icon-fishing6:before {
	content: "\e60a";
}
.icon-fishing11:before {
	content: "\e60b";
}
.icon-hook:before {
	content: "\e60c";
}
.icon-japan25:before {
	content: "\e60d";
}
.icon-pisces:before {
	content: "\e60e";
}
.icon-pisces4:before {
	content: "\e60f";
}
.icon-pisces7:before {
	content: "\e610";
}
.icon-rss14:before {
	content: "\e611";
}
.icon-sitting3:before {
	content: "\e612";
}
