/* Empty. Add your own CSS if you like */
ion-nav-view {
  background-color: #fff; 
}

.background-image { 
  background: url(../img/background_orinoco.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}